<div class="container">
    <header id="main-header">
      <div class="row no-gutters">
        <div class="col-lg-4 col-md-5">
          <img src="assets/images/Jitendra.jpg" alt="">
        </div>
        <div class="col-lg-8 col-md-7">
          <div class="d-flex flex-column">
            <div class="p-5 bg-dark text-white">
              <div class="d-block d-md-none">
                <div class="row">
                  <div class="col">
                    <h1 class="display-4" style="text-align:center">Jitendra Gupta</h1>
                  </div>
                  <div class="col-sm-12" style="text-align:center">
                    <div class="row">
                      <div class="col-3">
                        <a 
                          href="http://blog.jitendragupta.info/" 
                          target="_blank" 
                          class="text-white">
                          <i class="fas fa-stream"></i>
                        </a>
                      </div>
                      <div class="col-3">
                        <a href="https://github.com/Jitu108" target="_blank" class="text-white">
                          <i class="fab fa-github"></i>
                        </a>
                      </div>
                      <div class="col-3">
                        <a href="https://stackoverflow.com/users/1645625/jitendra-gupta" target="_blank" class="text-white">
                          <i class="fab fa-stack-overflow"></i>
                        </a>
                      </div>
                      <div class="col-3">
                        <a href="https://www.linkedin.com/in/jitendra-gupta-34862120/" target="_blank" class="text-white">
                          <i class="fab fa-linkedin "></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-none d-md-block">
                <div class="d-flex flex-row justify-content-between align-items-center">
                  <h1 class="display-4">Jitendra Gupta</h1>
  
                  <div>
                    <a
                      href="http://blog.jitendragupta.info/" 
                      target="_blank" 
                      class="text-white">
                      <i class="fas fa-stream"></i>
                    </a>
                  </div>
                  <div>
                    <a href="https://github.com/Jitu108" target="_blank" class="text-white">
                      <i class="fab fa-github"></i>
                    </a>
                  </div>
                  <div>
                    <a href="https://stackoverflow.com/users/1645625/jitendra-gupta" target="_blank" class="text-white">
                      <i class="fab fa-stack-overflow"></i>
                    </a>
                  </div>
                  <div>
                    <a href="https://www.linkedin.com/in/jitendra-gupta-34862120/" target="_blank" class="text-white">
                      <i class="fab fa-linkedin "></i>
                    </a>
                  </div>
                </div>
              </div>
              
            </div>

            <div class="p-4 bg-black">
              Team Lead at A-1 Technology
            </div>

            <div>
              <div class="d-flex flex-row text-white align-items-stretch text-center">
                <div
                    [routerLink]="['/']"
                    class="port-item p-4 bg-primary">
                  <i class="fas fa-home fa-2x d-block"></i>
                  <span class="d-none d-sm-block">Home</span>
                </div>
                <div
                    [routerLink]="['/profile']"
                    class="port-item p-4 bg-success">
                    <i class="fas fa-user fa-2x d-block"></i>
                    <span class="d-none d-sm-block">Profile</span>
                  </div>
                <div
                    [routerLink]="['/skill']"
                    class="port-item p-4 bg-warning">
                  <i class="fas fa-wrench fa-2x d-block"></i>
                  <span class="d-none d-sm-block">Skills</span>
                </div>
                <div
                    [routerLink]="['/project']"
                    class="port-item p-4 bg-danger">
                  <i class="fas fa-briefcase fa-2x d-block"></i>
                  <span class="d-none d-sm-block">Projects</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
