<div class="card mb-3">
    <div>
        <div class="card card-body bg-primary text-white py-5">
          <h2>Welcome!</h2>
          <p class="lead">I am Jitendra Gupta - a software enthusiast, who thrives to make application as performant and extensible as possible.</p>
        </div>
</div>

<div>
  <ul class="list-group mt-3">
    <li
        class="bg-primary list-group-item font-weight-bold text-white"
        role="button">
        <a 
        href="https://en.wikipedia.org/wiki/Whoami"
        class="text-decoration-none text-white"
        target="_blank">whoami</a>        
      </li>
    <li 
      class="list-group-item list-group-item-primary">
      <div class="container flow-text">
        <blockquote>
          <h4>Mission-driven .Net developer, with a passion for extensible design and architecture, and seamless user-experience.</h4>
        </blockquote>
      </div>
      <div class="content">
        I’ve always sought out opportunities and challenges that are meaningful to me. 
        I have always believed that it's an inter-connected world, not only in sense of people, but in terms of business domain.
        It always takes an out-of-box thinking to keep a part of code <i>earmarked</i> which might change in future, which may seem completely perfect at this point of time.
        That's where extensibility jumps-in. 
      </div>
      <div class="content mt-3">
        As a web developer, I enjoy using my obsessive attention to detail, my unequivocal love for making things, and my mission-driven work ethic to literally change the world. That's why I’m excited to make a big impact at a high growth company.
      </div>
    </li>
  </ul>
</div>